.product_rating{
    display: flex;
}

.product{
    align-items: center;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    min-width: 100px;
    margin: 10px;
    padding: 20px;
    width: 100%;
    /* margin-left: 150px; */
    z-index: 1;
    justify-content: flex-end;
}

.product > img{
    max-height: 200px;
    max-width: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}

.product_price{
    align-items: center;
    margin-top: 5px;
}

.product_info{
    max-height: 400px;
    min-width: 100px;
    align-items: center;
    /* height: 100px;
    width: 800px; */
    margin-bottom: 15px;
}
.product > button{
    align-items: center;
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a20;
}